<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-store, no-cache, must-revalidate, max-age=0">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <link rel="stylesheet" href="../view/style/main.css">
    <link rel="stylesheet" href="../view/style/w3.css">
    <link rel="stylesheet" href="../view/style/normalize.css">
    <title>APP</title>
</head>
<body>
    <div class="w3-container">
        <header class="w3-row">
            <hr style="border-top: 2px solid #000; margin: 10px 0;"/>
            <nav class="w3-row w3-center">
                <div class="w3-col s3 w3-padding-small">
                    <button id="btn-ultimos-registros"  type="button" class="btn-grp-header w3-white w3-circle w3-padding-small">
                        <box-icon name="history" size="md"></box-icon>
                    </button>
                    <b class="w3-show w3-padding-small w3-tiny">Últimos registros</b>
                </div>
                <div class="w3-col s3 w3-padding-small">
                    <button id="btn-pesquisar-registros"  type="button" class="btn-grp-header w3-white w3-circle w3-padding-small">
                        <box-icon name="search-alt" size="md"></box-icon>
                    </button>
                    <b class="w3-show w3-padding-small w3-tiny">Pesquisar registros</b>
                </div>
                <div class="w3-col s3 w3-padding-small">
                    <button id="btn-ver-relatorios"  type="button" class="btn-grp-header w3-white w3-circle w3-padding-small">
                        <box-icon name='bar-chart' size="md"></box-icon>
                    </button>
                    <b class="w3-show w3-padding-small w3-tiny">Ver relatórios</b>
                </div>
                <div class="w3-col s3 w3-padding-small">
                    <button id="btn-relatorio-diario" type="button" class="btn-grp-header w3-white w3-circle w3-padding-small">
                        <box-icon name="calendar-star" size="md"></box-icon>
                    </button>
                    <b class="w3-show w3-padding-small w3-tiny">Relatório diário</b>
                </div>
            </nav>
        </header>
        <hr style="border-top: 2px solid #000; margin: 10px 0;"/>
        <h1 id="container-titulo-funcao" class="w3-center w3-large">
            <box-icon id="titulo-funcao-icone" name="history" size="md"></box-icon>
            <b id="titulo-funcao" >Registros de hoje</b>
        </h1>
        <hr style="border-top: 2px solid #000; margin: 10px 0;"/>
        <main>
            <div id="graficos-container">
               <!--  <canvas id="graficos"></canvas> (PREENCHIDO DINAMICAMENTE COM JS) -->
            </div>
            <div class="container-refeicoes">
                <!-- ULTIMOS REGISTROS (PREENCHIDO DINAMICAMENTE COM JS)-->
            </div>
            <!-- JANELA: PESQUISAR REGISTROS -->
            <form id="form-pesquisar-registros" class="janelas w3-display-middle">
                <fieldset class="w3-card-4 w3-green w3-round-large">
                    <legend class="w3-green w3-padding-small w3-round-large">
                        <b class="w3-cell w3-cell-middle w3-padding-small">PESQUISAR REGISTROS</b>
                        <button id="btn-fechar-registros" type="button" class="w3-border-0 w3-transparent w3-padding-small">
                            <box-icon class="w3-cell box-icon-x-circle" name='x-circle' type='solid' color='#F08080' ></box-icon>
                        </button>
                    </legend>
                    <div class="w3-col">
                        <div class="w3-col w3-padding-small">
                            <label for="date-periodo-inicial" class="w3-col s2">&nbspDe:</label>
                            <input type="date" id="date-periodo-inicial" name="date-periodos" class="w3-col s10 w3-padding-small w3-round-large w3-border-0" required>
                        </div>
                        <div class="w3-col w3-padding-small">
                            <label for="date-periodo-final" class="w3-col s2">Até:</label>
                            <input type="date" id="date-periodo-final" name="date-periodos" class="w3-col s10 w3-padding-small w3-round-large w3-border-0" required>
                        </div>
                        <div class="w3-col w3-padding-small">
                            <button type="button" id="btn-filtrar-periodo" class="w3-col w3-btn w3-ripple w3-white w3-round-large">Filtrar Período</button>
                        </div>
                    </div>
                </fieldset>
            </form>
            <!-- JANELA: VER RELATÓRIOS -->
            <form id="form-ver-relatorios" class="janelas w3-display-middle">
                <fieldset class="w3-card-4 w3-green w3-round-large">
                    <legend class="w3-green w3-padding-small w3-round-large">
                        <b class="w3-cell w3-cell-middle w3-padding-small">VISUALIZAR RELATÓRIOS</b>
                        <button id="btn-fechar-relatorios" type="button" class="w3-border-0 w3-transparent w3-padding-small">
                            <box-icon class="w3-cell box-icon-x-circle" name='x-circle' type='solid' color='#F08080' ></box-icon>
                        </button>
                    </legend>
                    <div class="w3-col w3-padding-small">
                        <input id="radio-semanal" type="radio" name="radio-periodos" value="Semanal" checked>
                        <label for="inp-date-semanal">Semanal: </label>
                        <input type="date" name="inp-date-semanal" id="inp-date-semanal">
                    </div>
                    <div class="w3-col w3-padding-small">
                        <input id="radio-mensal" type="radio" name="radio-periodos" value="Mensal">
                        <label for="select-meses">Mensal: </label>
                        <select id="select-meses" name="select-meses">
                            <option id="Janeiro" value="01">Janeiro</option>
                            <option id="Fevereiro" value="02">Fevereiro</option>
                            <option id="Marco" value="03">Março</option>
                            <option id="Abril" value="04">Abril</option>
                            <option id="Maio" value="05">Maio</option>
                            <option id="Junho" value="06">Junho</option>
                            <option id="Julho" value="07">Julho</option>
                            <option id="Agosto" value="08">Agosto</option>
                            <option id="Setembro" value="09">Setembro</option>
                            <option id="Outubro" value="10">Outubro</option>
                            <option id="Novembro" value="11">Novembro</option>
                            <option id="Dezembro" value="12">Dezembro</option>
                        </select>
                        <label for="inp-ano-1"> de </label>
                        <input type="number" min="2025" max="2125" value="2025" id="inp-ano-1" value="Anual">
                    </div>
                    <div class="w3-col w3-padding-small">
                        <input id="radio-anual" type="radio" name="radio-periodos" value="Anual">
                        <label for="inp-ano-2">Anual: </label>
                        <input type="number" min="2024" max="2125" value="2025" name="" id="inp-ano-2">
                    </div>
                    <div class="w3-col w3-padding-small" style="display: flex; flex-direction: row; justify-content: flex-start; align-items: center;">
                        <box-icon name='bar-chart-alt' size="md" color="white"></box-icon>
                        <div>
                            <label for="select-opcoes-graficos">Gráfico: </label>
                            <select id="select-opcoes-graficos" name="select-opcoes-graficos">
                                <option value="Coluna'">Coluna</option>
                                <option value="Barra">Barra</option>
                                <option value="Pizza">Pizza</option>
                                <option value="Rosca">Rosca</option>
                                <option value="Linha">Linha</option>
                            </select>
                        </div>
                    </div>
                    <div class="w3-col w3-padding-small" style="display: flex; align-items: center;">
                        <box-icon class="w3-col s1" type='regular' name='menu' color="white" size="md"></box-icon>
                        <select id="select-opcoes-relatorios" class="w3-col s11" name="select-opcoes-relatorios">
                            <option value="1">(1) Consumo calórico por data</option>
                            <option value="2">(2) Refeições com maior quantidade de caloria (agrupado por data)</option>
                            <option value="3">(3) Refeições com menor quantidade de caloria (agrupado por data)</option>
                            <option value="4">(4) Evolução calórica (Anual)</option>
                        </select>
                    </div>
                    <div class="w3-col">
                        <div class="w3-col w3-padding-small">
                            <button type="button" id="btn-gerar-relatorios" class="w3-col w3-btn w3-ripple w3-white w3-round-large">Gerar relatórios</button>
                        </div>
                    </div>
                </fieldset>
            </form>
            <!-- JANELA: ADICIONAR REGISTROS -->
            <form id="form-adicionar-registro" class="janelas w3-display-middle w3-col s10 m8 l5">
                <fieldset class="w3-card-4 w3-green w3-round-large">
                    <legend class="w3-green w3-padding-small w3-round-large">
                        <b class="w3-cell w3-cell-middle w3-padding-small">Criar registro</b>
                        <button id="btn-fechar-criar-registros" type="button" class="w3-border-0 w3-transparent w3-padding-small">
                            <box-icon class="w3-cell box-icon-x-circle" name='x-circle' type='solid' color='#F08080' ></box-icon>
                        </button>
                    </legend>
                    <div class="w3-container">
                        <input class="w3-col w3-center w3-border-0 w3-round-large w3-padding w3-margin-bottom" name="refeicao-nome" type="text" placeholder="Nome da refeição">
                    </div>
                    <div class="w3-container">
                        <input class="w3-col w3-center w3-border-0 w3-round-large w3-padding w3-margin-bottom" name="refeicao-data" type="datetime-local">
                    </div>
                    <div id="container-itens-registro" class="w3-container w3-padding w3-white w3-round-large">
                        <!--REGISTROS (PREENCHIDO DINAMICAMENTO COM JS) -->
                    </div>
                    <div class="w3-col">
                        <div class="w3-col w3-center w3-padding w3-margin-top w3-margin-bottom w3-round-large" style="background-color: lightsalmon;">
                            <box-icon class="w3-cell w3-cell-middle w3-small" type='solid' name='hot'></box-icon>
                            <b id="refeicao-total-kcal" class="w3-cell w3-cell-middle w3-small">Total em Kcal:&nbsp</b>
                            <b id="criar-registro-total-kcal" class="w3-cell w3-cell-middle w3-small">0</b>
                        </div>
                        <div class="w3-col w3-center w3-padding-small">
                            <button type="button" id="btn-add-item" class="w3-btn w3-ripple w3-white w3-round-large">
                                <b class="w3-cell w3-tiny w3-cell-middle w3-padding-small">Adicionar item</b>
                                <box-icon name="plus-circle" type="solid" size="sm" color="palegreen" class="w3-cell w3-cell-middle"></box-icon>
                            </button>
                        </div>
                        <div class="w3-col w3-center w3-padding-small">
                            <button type="button" id="btn-salvar-registro" class="w3-btn w3-ripple w3-white w3-round-large">
                                <b class="w3-cell w3-tiny w3-cell-middle w3-padding-small">Salvar registro</b>
                                <box-icon name="save" type="solid" size="sm" color="palegreen" class="w3-cell w3-cell-middle"></box-icon>
                            </button>
                        </div>
                    </div>
                </fieldset>
            </form>
            <!-- JANELA: ADICIONAR ITEM -->
            <form id="form-adicionar-item" class="janelas w3-display-middle w3-col s10 m7">
                <fieldset class="w3-card-4 w3-green w3-round-large">
                    <legend class="w3-green w3-padding-small w3-round-large">
                        <b class="w3-cell w3-cell-middle w3-padding-small">Adicionar item</b>
                        <button id="btn-fechar-add-edt-item" type="button" class="w3-border-0 w3-transparent w3-padding-small">
                            <box-icon class="w3-cell box-icon-x-circle" name='x-circle' type='solid' color='#F08080' ></box-icon>
                        </button>
                    </legend>
                    <div id="frm-pesq-cod-barras" class="w3-col frm-section">
                        <label for="inp-pesq-cod-barras" class="w3-padding-small"><b>Pesquisa por cód. barras</b></label>
                        <div class="w3-col w3-padding-small">
                            <input id="inp-pesq-cod-barras" class="w3-border-0 w3-round-large w3-padding-small" type="text" placeholder="Digite o código de barras">
                            <button id="btn-pesq-cod-barras" type="button" class="w3-border-0 w3-round-large w3-padding-small">
                                <box-icon class="w3-cell-middle" type='solid' name='barcode'></box-icon>
                            </button>
                        </div>
                    </div>
                    <div id="frm-pesq-produto" class="w3-col frm-section">    
                        <b class="w3-padding-small">Pesquisa por nome e marca</b>
                        <div class="w3-col w3-padding-small">
                            <label for="inp-nome-produto">Nome:</label>
                            <input id="inp-nome-produto" class="w3-border-0 w3-round-large w3-padding-small" type="text">
                        </div>
                        <div class="w3-col w3-padding-small">
                            <label for="inp-marca-produto">Marca:</label>
                            <input id="inp-marca-produto" class="w3-border-0 w3-round-large w3-padding-small" type="text">
                        </div>
                        <div class="w3-col w3-padding-small">
                            <button id="btn-pesq-produto" type="button" class="w3-col w3-border-0 w3-round-large w3-padding-small">
                                <box-icon class="w3-cell-middle" name='search-alt-2'></box-icon>
                                <b class="w3-small">Pesquisar</b>
                            </button>
                        </div>
                    </div>
                    <div id="div-produtos" class="w3-col frm-section w3-padding w3-white">
                            
                    </div>
                </fieldset>
            </form>
        </main>
        <button id="btn-add-registro" type="button" class="w3-panel w3-border-0 w3-transparent">
            <b class="w3-tiny w3-cell w3-cell-middle w3-padding-small w3-round-large w3-pale-green">Adicionar registro</b>
            <box-icon name="plus-circle" type="solid" size="lg" color="palegreen" class="w3-cell"></box-icon>
        </button>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <script type="module" src="script/Main.js"></script>
    <script type="module" src="script/AdicionarItem.js"></script>
    <script type="module" src="script/UltimosRegistros.js"></script>
    <script type="module" src="script/PesquisarRegistros.js"></script>
    <script type="module" src="script/SalvarRegistro.js"></script>
    <script type="module" src="script/Graficos.js"></script>
</body>
</html>